@charset "utf-8";

/* TODO: Organize this mess. */

:root {
  --primary-typeface: "Overlock", serif;
  --secondary-typeface: "Bubblegum Sans", fantasy;
}

[class*="zocial-"]::before {
  font-family: zocial, sans-serif;
}

body {
  background-color: #5b9292;
  font-family: var(--primary-typeface);
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #f7f4dc;
  text-shadow: 0.1rem 0.1rem 0 #3339;
}

a {
  transition: all 0.1s linear;
  background-color: transparent;
}

a:link,
a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #d9fcff;
  display: inline-block;
}

a:focus,
a:hover {
  transform: translate(-0.03rem, -0.03rem);
  text-shadow: 0.13rem 0.13rem 0 #3337;
}

a:active {
  transform: translate(0.05rem, 0.05rem);
  text-shadow: 0.05rem 0.05rem 0 #333c;
}

body.invite-modal {
  overflow: hidden;
  & header {
    position: relative;
    background-position: 80% 200%, 100% 100%;
    max-height: 100vh;
    transition: top 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    & form {
      max-height: 100vh;
    }
    & .thanks {
      max-height: 0;
    }
  }
  & a.invite-o-matic {
    top: -6rem;
  }
  & section.mission {
    transform: translate(0, 200vh);
  }
  & section.logo {
    transform: translate(0, 150vh);
  }
  & section.organizations,
  & section.conduct,
  & footer .join {
    transform: translate(0, 120vh);
  }
  &.thanks {
    & header {
      & form {
        max-height: 0;
        transition: max-height 0.5s ease-out;
      }
      & .thanks {
        max-height: 100vh;
        transition: max-height 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
      }
    }
  }
}

main {
  background: url("../images/main-bg.svg") no-repeat bottom/120rem;
  padding: 1.5rem;
  flex-grow: 1;
  transition: all 1s ease;
}

h2,
h3 {
  margin: 0;
  font-family: var(--secondary-typeface);
  letter-spacing: 0.05rem;
}

header,
section.mission,
section.logo,
section.conduct {
  background-color: transparent;
  background-repeat: no-repeat;
  & p {
    margin-bottom: -0.5em;
    text-align: justify;
  }
}

header,
section {
  max-width: 58rem;
  margin: 1.5rem auto;
  transition: all 1s cubic-bezier(0.31, -0.18, 0.57, 1.33);
  position: relative;
  top: 0;
}

header {
  background-color: #84cfd2;
  background-image: url("../images/sun.svg"), url("../images/header-bg.svg");
  background-size: 100% 40%, 100% 100%;
  background-position: 10vw 100%, center;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1.5rem 0;
  & h1 {
    flex: 1 1 auto;
    background: url("../images/h1.svg") no-repeat center 50%;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    pointer-events: none;
    transition: all 1s ease;
    height: 9rem;
    width: 100%;
    max-width: 36rem;
    z-index: 2;
  }
  & form {
    max-height: 0;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    width: 100%;
    max-width: 39rem;
    color: #333c;
    text-shadow: 0.1rem 0.1rem 0 #3333;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    & fieldset {
      border: none;
      padding: 0;
      margin: 0 0 1.5rem;
      position: relative;
      & label {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: #b4aeae66;
        text-shadow: none;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease;
        pointer-events: none;
      }
      & input {
        background-color: #f7f4dc;
        &:focus {
          outline: 0;
          box-shadow: 0 0.25rem 0 #3333;
        }
        &.changed:disabled + label,
        &:valid + label,
        &:focus + label,
        &.changed:invalid + label {
          color: #807e70cc;
          font-weight: 700;
          font-size: 1rem;
          transform: translate3d(0, -2rem, 0);
          background-color: #f7f4dc;
          box-shadow: 0.25rem -0.25rem 0 #3333;
          padding: 0.25rem 0.5rem;
        }
        &.changed:invalid + label {
          color: #830910;
        }
        &:disabled {
          color: #807e7066;
        }
        &:-webkit-autofill:disabled {
          -webkit-text-fill-color: #807e7066;
        }
      }
      &:first-child {
        margin-top: 1.5rem;
      }
      & input {
        padding: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        border: 0.5rem solid #e8e5cd;
        outline: 0;
        appearance: none;
      }
    }
    & i.loading {
      animation: spin 2s linear infinite;
      text-shadow: none;
    }
  }
  & .thanks {
    max-height: 0;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    max-width: 36rem;
    & h2 {
      text-align: center;
      margin: 1.5rem;
      & i {
        animation: 2s ease 0s infinite tada;
      }
    }
    & p {
      margin: 1.5rem;
    }
  }
  & .actions {
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 0 1.5rem;
    & button {
      font-family: var(--secondary-typeface);
      font-weight: bold;
      border: 0.5rem solid #e8e5cd;
      background-color: #f7f4dc;
      padding: 0.5rem;
      color: #807e70cc;
      box-shadow: 0.2rem 0.2rem 0 #3336;
      text-shadow: 0.1rem 0.1rem 0 #3333;
      margin: 0.75rem;
      &[type=submit] {
        color: #f7f4dc;
        text-shadow: 0.15rem 0.15rem 0 #3339;
        border-color: #a4bf39;
        background-color: #b3d334;
      }
    }
  }
}

a.invite-o-matic {
  position: absolute;
  left: -1rem;
  top: -1rem;
  width: 12rem;
  z-index: 0;
  transition: all 0.5s ease-in-out;
  & img {
    width: 100%;
    height: auto;
    transition: all 1s ease-in-out;
  }
  &::before {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 30%;
    content: url("../images/cloud.svg");
    width: 18rem;
    max-width: 80%;
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    left: -1.25rem;
    top: -1.2rem;
    &::before {
      top: 33%;
      left: 66%;
    }
  }
}

section.mission,
section.logo,
section.conduct {
  background-size: 100% 100%;
  background-position: center;
}

section.mission {
  background-image: url("../images/mission-bg.svg");
  padding: 3rem 1.5rem;
  & h2 {
    color: #f7f4dc;
    text-shadow: 0.15rem 0.15rem 0 #3339;
    margin-bottom: 1.5rem;
    line-height: 2rem;
  }
  & p {
    color: #333c;
    text-shadow: 0.1rem 0.1rem 0 #3333;
    margin: 0;
  }
}

section.logo {
  background-image: url("../images/logo-bg.svg");
  display: flex;
  align-content: center;
  justify-content: center;
  & img {
    margin: -4rem -1.5rem;
    z-index: 1;
  }
}

section.conduct {
  background-image: url("../images/conduct-bg.svg");
  padding: 3rem 1.5rem 1.5rem;
  & h3 {
    color: #f7f4dc;
    text-align: center;
    font-weight: normal;
    font-family: var(--primary-typeface);
    & a {
      font-family: var(--secondary-typeface);
    }
  }
}

section.organizations {
  padding-bottom: 1rem;
  margin-bottom: -0.01rem;
  & h2 {
    text-align: center;
  }
  & ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    margin-left: -1.5rem;
    margin-top: -0.5rem;
    & li {
      list-style: none;
      margin-left: 1.5rem;
      margin-top: 1.5rem;
    }
  }
}

div.join {
  color: #f7f4dc;
  text-shadow: 0.1rem 0.1rem 0 #3339;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding-bottom: 1.5rem;
  max-width: 36rem;
  margin: auto;
  & p {
    margin: 1rem auto;
  }
}

li.org {
  background-color: #f7f4dc;
  color: #333c;
  box-shadow: 0.2rem 0.2rem 0 #333c;
  text-shadow: 0.1rem 0.1rem 0 #3333;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 6rem;
  flex: 1 0 22rem;
  & img {
    margin: 0.5rem;
  }
  & .info {
    display: flex;
    flex-direction: column;
    & h3 {
      margin: 0.5rem 0;
      font-size: 1.5rem;
    }
    & p {
      margin: 0;
      font-size: 1.2rem;
    }
  }

  & a {
    color: #333c;
    text-shadow: 0.1rem 0.1rem 0 #3333;
    text-decoration: underline;
  }
}

header {
  min-height: 18rem;
  max-height: calc(100vw - 12rem);
}

@media (min-width: 24rem) {
  header {
    min-height: 22rem;
    max-height: 30rem;
  }
  li.org {
    max-width: calc(100% - 1.5rem);
  }
}

@media (min-width: 48rem) {
  li.org {
    max-width: calc(50% - 1.5rem);
  }
}

footer {
  background-color: #497575;
  text-align: center;
  color: #84cfd2;
  text-shadow: none;
  padding: 0 0 1rem;
}

.browser-upgrade {
  margin: 0;
  background: #333;
  color: #ccc;
  padding: 0.5em;
  & a:link {
    color: #eee;
    font-weight: bold;
  }
}

body.conduct,
body.stickers {

  & section {
    transform: rotate(-0.25deg) translate(0.25rem);
    border-left: 1rem solid rgb(210, 208, 185);
    border-top: 1rem solid rgb(210, 208, 185);
    padding: 1.5rem;
    background-color: #f7f4dc;
    color: #333c;
    text-shadow: 0.1rem 0.1rem 0 #3333;

    & article {
      transform: rotate(0.5deg);
    }

    & a {
      color: #2f2b2bcc;
      text-decoration: underline;
    }

    & h1 {
      text-align: center;
      font-family: var(--secondary-typeface);
    }

    & figure {
      text-align: center;
      margin: 3rem auto;

      & p {
        margin: auto;
        font-size: 1rem;
        max-width: 42rem;
        text-shadow: 0.05rem 0.05rem 0 #3333;
      }
    }

    & table {
      margin: 1.5rem auto;
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;

      & th {
        text-align: left;
        border-bottom: 2px solid #3333;
      }
    }
  }
}

.sticker-previews {
  text-align: center;

  & a {
    padding: 1rem;
  }
}

.stickers-link i {
  animation: 2s ease 0s infinite sticker;
}

@keyframes sticker {
  0% {
    transform: rotate(203deg) scale(1);
  }
  25% {
    transform: rotate(197deg) scale(0.9);
  }
  50% {
    transform: rotate(203deg) scale(1.1);
  }
  75% {
    transform: rotate(197deg) scale(1);
  }
  100% {
    transform: rotate(203deg) scale(0.9);
  }
}

@keyframes tada {
  0% {
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  10% {
    transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  20% {
    transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  30% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  40% {
    transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  50% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  60% {
    transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  70% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  80% {
    transform: rotate(-3deg) scaleX(1.2) scaleY(1.2);
  }
  90% {
    transform: rotate(3deg) scaleX(1.2) scaleY(1.2);
  }
  100% {
    transform: rotate(-3deg) scaleX(1.3) scaleY(1.3);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    text-shadow: 0.15rem 0.15rem 0 #3339;
  }
  12.5% {
    transform: rotate(45deg);
    text-shadow: 0.21rem 0 0 #3339;
  }
  25% {
    transform: rotate(90deg);
    text-shadow: 0.15rem -0.15rem 0 #3339;
  }
  37.5% {
    transform: rotate(135deg);
    text-shadow: 0 -0.21rem 0 #3339;
  }
  50% {
    transform: rotate(180deg);
    text-shadow: -0.15rem -0.15rem 0 #3339;
  }
  62.5% {
    transform: rotate(225deg);
    text-shadow: -0.21rem 0 0 #3339;
  }
  75% {
    transform: rotate(270deg);
    text-shadow: -0.15rem 0.15rem 0 #3339;
  }
  87.5% {
    transform: rotate(315deg);
    text-shadow: 0 0.21rem 0 #3339;
  }
  100% {
    transform: rotate(360deg);
    text-shadow: 0.15rem 0.15rem 0 #3339;
  }
}
