@import 'bootstrap-sprockets';
@import 'bootstrap';

$link-color: #fff;
$text-color: #fff;
$border-color: #eee;
$dk-color: #333;
$skrim-opacity: .66;

a,
a:focus,
a:hover {
  color: $link-color;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  background-color: $link-color;
  border: 1px solid $border-color;
  color: $dk-color;
  text-shadow: none;
}

html,
body {
  background-color: $dk-color;
  height: 100%;
}

body {
  background: image-url('ISS041-E-74232.jpg') no-repeat center center fixed;
  background-size: cover;
  color: $text-color;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);

  > .container {
    padding: 60px 15px 0;
  }
}

.container.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  width: 100%;
}

.site-wrapper {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
  display: table;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-left: auto;
  margin-right: auto;
}

.inner {
  padding: 30px;

  &.cover {
    background: rgba(0, 0, 0, $skrim-opacity);
    box-shadow: 0 0 50px 25px rgba(0, 0, 0, $skrim-opacity);
    text-align: center;
  }
}

.masthead-brand {
  margin-bottom: 10px;
  margin-top: 10px;
}

.masthead-nav > li {
  display: inline-block;

  > a {
    border-bottom: 2px solid transparent;
    color: rgba(255, 255, 255, .75);
    font-size: 16px;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0;
  }

  + li {
    margin-left: 20px;
  }
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  border-bottom-color: $border-color;
  color: $link-color;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }

  .masthead-nav {
    float: right;
  }
}

.cover {
  padding: 0 20px;

  .btn-lg {
    font-weight: bold;
    padding: 10px 20px;
  }
}

.mastfoot {
  color: rgba(255, 255, 255, .5);

  p {
    &.copyright {
      float: left;
    }

    &.conduct {
      float: right;
    }
  }
}

.footer {
  background-color: $navbar-inverse-bg;
  border-top: 1px solid darken($navbar-inverse-bg, 10%);
  bottom: 0;
  color: rgba(255, 255, 255, .5);
  height: 60px;
  margin-top: 10px;
  position: absolute;
  width: 100%;

  + .photo-credit {
    bottom: 60px;
  }

  > .container {
    line-height: 60px;
    padding-left: 15px;
    padding-right: 15px;
  }

  p {
    margin: 0;

    &.copyright {
      float: left;
    }

    &.conduct {
      float: right;
    }
  }
}

@media (min-width: 768px) {
  .masthead {
    position: fixed;
    top: 0;
  }

  .mastfoot {
    bottom: 0;
    position: fixed;
  }

  .site-wrapper-inner {
    vertical-align: middle;
  }

  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container,
  .contact-form {
    width: 700px;
  }
}

.modal-content {
  background-color: lighten($navbar-inverse-bg, 10%);

  .modal-header {
    background-color: lighten($navbar-inverse-bg, 5%);
    border-bottom-color: darken($navbar-inverse-bg, 10%);
  }

  .modal-footer {
    background-color: lighten($navbar-inverse-bg, 5%);
    border-top-color: darken($navbar-inverse-bg, 10%);
  }

  .close {
    color: $link-color;
    opacity: .5;

    &:hover {
      opacity: .75;
    }
  }
}

.alert {
  margin: 10px auto;
  text-shadow: none;

  .glyphicon {
    margin-right: 20px;
  }
}

.organization {
  margin-bottom: 10px;
  padding: 10px;

  h2 {
    margin-bottom: 10px;
    margin-left: 90px;
    margin-top: 0;
  }

  .property {
    display: block;
    margin-left: 90px;
  }

  img {
    background-color: $link-color;
    border: 5px solid $border-color;
    clear: left;
    float: left;
    height: 80px;
  }
}

@media only screen and (max-width: $screen-md-min - 1px) {
  .organization {

    h2 {
      // padding-top: 10px;
    }
  }
}

.code-of-conduct {
  table {
    width: 100%;

    tr {
      border-bottom: 1px solid $border-color;
    }
  }
}

.photo-credit {
  bottom: 0;
  font-size: 8px;
  opacity: .5;
  position: absolute;
  right: 0;
}

.contact-form {
  margin: auto;

  h2 {
    text-align: right;
  }
}
