<% @organizations.each do |organization| %>
  <div class="row">
    <div class="organization col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="background-color: <%= organization.color %>">
      <%= react_component('Organization', organization.attributes) %>
    </div>
  </div>
<% end %>
